:root {
	--dark: #294675;
	--darker: #97a9c2;
	--darkest: #111827;
	--grey: #49566f;
	--green: #5ca15e;
	--light: rgb(173, 148, 148);
}
.body{
      display:flex;
      flex-direction:column;
      justify-content: center;
      align-items:center;
}

.row1{
    height:40px;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}
.row2{
    box-sizing: border-box;
    border-style:solid;
    width:100%;
    height:30px;
    padding-bottom:2px;
    background-color: rgb(116, 90, 142);
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}
.row3{
    display:flex;
    flex-direction:row;
    width:95%;
    margin:0 auto;
    height:85vh;
    background-color:rgb(134, 157, 172);
    justify-content: space-around;
}
.col1,.col2{
    width:45%;
    height:100%;
    background-color:var(--darker);
}
.col1 form{
    width: 70%;
    margin: 0 auto;
    display:flexbox;
    flex-direction: column;
    
}
.col2{
    display: flex;
    flex-direction:column;
    

}
.col2 h3{
    margin:10px auto;
}
.card{
    margin:10px auto;
    width: 80%;
    min-height:120px;
    background-color: var(--green);
    display:grid;
    grid-template-columns:2fr 1fr;

}
.a{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    justify-content: space-evenly;
}

.b{
    display:flex;
    justify-content: center;
    align-items: center;
}
.im{
    background-image: url();
}